app,h1,h2, ul, li, p, a { 
margin:0;
padding:0;
}
header{
  margin: 2rem 0 2rem 2rem
}
.columns{
  display: flex;
  justify-content: space-around;
}
.column{
  margin: 0 2rem;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
  border: .5px solid #c0bebe;
  width: 40vw
}